{% extends "base-front.html.twig" %}
{%block title %} Hotel Management {%endblock%}
{% block body %}
<div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-9 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><strong>Explore <br></strong> Our amazing Hotel</h1>
           
          </div>
        </div>
         </div>
{% endblock %}