{% extends "base-front.html.twig" %}


{% block title %}New Reservation{% endblock %}

{% block body %}
    <h1>BOOK NOW! </h1>

    {{ include('frontoffice/reservation/_form.html.twig') }}

{% endblock %}
