<form method="post" action="{{ path('app_platter_delete', {'idplatter': platter.idplatter}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ platter.idplatter) }}">
    <button class="btn btn-outline-primary" class="btn">Delete</button>
</form>
